.label , .profile{
    color: #fff;
}
.profileIcon{
    color: #fff;
}
@media only screen and (min-width: 640px) {
    .container{
        padding-right: 10px;
        border-right: 1px solid #fff;
    }
}
