.headerRow--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}
.headerRow--main-header :global(.vtex-menu-2-x-styledLink)  {
  /*color: #bfbfbf;*/
  font-size: 14px;
}
.headerRowContainer--main-header, .headerRowBackground--main-header{
  background-color: #000;
}
.headerRowContainer--main-header{
  padding: 10px 0px;
}

.headerRowContainer--main-header-mobile , .headerRowContentContainer--main-header-mobile{
  background-color: #000;
}

