.menuItem--racksMenu::before{
    content: "";
    background-image: url(https://thulestore.vteximg.com.br/arquivos/iconRack.png);
    background-repeat: no-repeat;
    width: 80px;
    height: 36px;
    display: block;
    margin: 0px auto;
}

.menuItem--childrenMenu::before{
    content: "";
    background-image: url(https://thulestore.vteximg.com.br/arquivos/iconChildren.png);
    background-repeat: no-repeat;
    width: 68px;
    height: 36px;
    display: block;
    margin: 0px auto;
}

.menuItem--backpackMenu::before{
    content: "";
    background-image: url(https://thulestore.vteximg.com.br/arquivos/iconBackpack.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 36px;
    display: block;
    margin: 0px auto;
}