.headerRow--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}
.headerRow--main-header :global(.vtex-menu-2-x-styledLink)  {
  color: #727273;
  font-size: 14px;
}
.headerRowContainer--main-header, .headerRowBackground--main-header{
  background-color: #000;
}

