.arrowLeft{
    left: -35px;
    padding: 10px;
    background: #f1f1f1;
    top: 49%;
}

.arrowRight{
    right: -35px;
    padding: 10px;
    background: #f1f1f1;
    top: 49%;
}

@media only screen and (max-width: 640px) {
    .arrowLeft{
        left: 0px;
        top: 25%;
    }
    
    .arrowRight{
        right: 0px;
        top: 25%;
    }
}