.container--deals {
  color: #ffffff;
  text-align: center;
  justify-content: center;
}
.container--whiteLetter .paragraph, .container--whiteLetter .link{
  color: #fff;
  font-size: 14px;
}
.container--whiteLetterRights .paragraph{
  color: #fff;
  display: flex;
  align-items: center;
}
.container--deals .paragraph {
  margin: 0;
}
.container--link {
  justify-content: center;
}
.container--question {
  justify-content: center;
}
.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #03034E;
}
.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}
.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034E;
}
.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034E;
}
.container--racksMobileMenu , .container--activitiesMobileMenu , .container--backpacksMobileMenu, .container--manualMobile{
  background: #000;
  padding: 11px;
  font-size: 13px;
  color: #fff;
  margin-bottom: 13px;
  margin-top: 30px;
}
.container--racksMobileMenu .link , .container--activitiesMobileMenu .link , .container--backpacksMobileMenu .link, .container--manualMobile .link{
  color: #fff;
  text-decoration: none;
}
.container--title {
  color: #03034E;
  font-size: 28px;
  font-weight: 700;
}

.container--racksMobileMenu .paragraph::before {
  content: "";
  background: url(https://thulestore.vteximg.com.br/arquivos/iconRack.png);
  display: block;
  width: 81px;
  height: 50px;
  background-repeat: no-repeat;
  position: absolute;
  right: -75px;
  top: -2px;
  background-size: 50px;
}

.container--activitiesMobileMenu .paragraph::before{
  content: "";
  background: url(https://thulestore.vteximg.com.br/arquivos/iconChildren.png);
  display: block;
  width: 81px;
  height: 50px;
  background-repeat: no-repeat;
  position: absolute;
  right: -75px;
  top: -2px;
  background-size: 50px;
}

.container--backpacksMobileMenu .paragraph::before{
  content: "";
  background: url(https://thulestore.vteximg.com.br/arquivos/iconBackpack.png);
  display: block;
  width: 38px;
  height: 34px;
  background-repeat: no-repeat;
  position: absolute;
  right: -35px;
  top: -8px;
  background-size: 33px;
}

.container--racksMobileMenu .paragraph , .container--activitiesMobileMenu .paragraph , .container--backpacksMobileMenu .paragraph {
  position: relative;
  width: 160px;
}

.container--whatsappIcon .image{
  width: 60px;
  position: fixed;
  z-index: 99999;
  right: 10px;
  bottom: 10px;
}

.link--footerManualLink{
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.container--questionTitle{
  color: #fff;
  background: #000;
  padding: 0px 30px;
  font-weight: 900;
  max-width: 1000px;
}
.container--questionAnswer{
  padding: 0px 30px;
  background-color: #efefefd1;
  max-width: 1000px;
}


.paragraph--footerManualLink{
  display: none
}


@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }

  .paragraph--footerManualLink{
    padding: 10px 40px;
    background: #000000;
    color: #000;
    position: fixed;
    bottom: 0;
    left: 10px;
    border-radius: 10px;
    display: block
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: #03034E;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }

  .container--title .paragraph {
    line-height: 1.3em;
  }


}
