.buyButton :global(.vtex-button){
    border-radius: 0px;
}

.productBrand{
    color: #7bafd4;
    font-weight: 700;
}

.description{
    height: 85px;
    display: block;
}

.nameContainer{
    padding: 10px;
}

.productNameContainer{
    display: block;
    height: 35px;
}

.imageNormal{
    max-height: 195px;
}

.price_sellingPrice{
    font-weight: 700;
}