.ameButtonContainer{
  display: flex;
  width: 100%;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color .5s;
}

.ameButtonContainer:hover {
  background-color: #ccc !important;
  transition: background-color .5s;
}

.ameText{
  margin-left: 16px;
  font-size: 14px;
  color: #000 !important;
}
